/* 
    Document   : global
    Created on : Aug 5, 2010, 2:37:00 PM
    Author     : rpestano
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.ui-widget,.ui-widget .ui-widget {
	 font-size: 11px !important;
         font-family: Arial,Helvetica;
}

.ui-tabs-nav{

    
}

 
.ui-panel-titlebar{

    text-align: center;
}

.tab .ui-tabs-panel{
    width:100%;

}
.ui-dialog-title-dialog {
    text-align: center !important;
}
.ui-dialog-titlebar{
    text-align: center !important;
}
.link-orange{
    text-decoration: none;
    color: #F58400;
}
.link-white{
    color: white;
    text-decoration: underline;
}

.theme{
    top:0;
    left:0;

}
.configMenu{
    top: 0;
    left: 0;
}
.adminMenu{
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
    width: auto;
}

#login_content{
    margin-top: 5%;
    text-align: center;
}


.calendar{
    height:21px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.odd {background:orange}
.even {}

.tipo{
    height: 21px;
    margin-left: 2px;
    width: 142px;
    *width: 183px
}

.themeMenu{
    overflow: hidden;
    width:125px;
}
.yearsMenu{
    overflow: auto;
    width:103px;
}

.reportsMenu{
    overflow: auto;
    width:130px;
}

.bt-income{
    background-image: url('../images/coins_add.png') !important;
}
.bt-outcome{
    background-image: url('../images/coins_delete.png') !important;
}
.bt-br{
     background-image: url('../images/br_flag2.png') !important;
}
.bt-usa{
     background-image: url('../images/usa_flag2.png') !important;
     background-repeat: no-repeat;
}
.bt-report{
    width: 99px!important;
    background-image: url('../images/report3.png') !important;
}

.highlight {
    background-color: #fcc;
}

/*.even-row{
    background-color: gray !important;
}
.odd-row{
    background-color: orange !important;
}*/

.modalType {
    
    margin-left: 2px;
    height: 21px;
    width: 140px;
    *width: 183px;
    margin-left:0px\9;

}

@-moz-document url-prefix() {
    .modalType{
    margin-left:0;
    height: 21px;
    width: 144px;
}
}

.hr_class{
    margin-top: -10px;
    margin-bottom: 5px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.hr_class {

    margin-bottom: 5px;
    margin-top: -18px;

}
}

.font-bold{
    font-weight: bold;
    cursor: pointer;
}

