/* 
    Document   : global
    Created on : Aug 5, 2010, 2:37:00 PM
    Author     : rpestano
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.ui-widget,.ui-widget .ui-widget {
	 font-size: 11px !important;
         font-family: Arial,Helvetica;
}

.ui-tabs-nav{

    
}

 
.ui-panel-titlebar{

    text-align: center;
}

.tab .ui-tabs-panel{
    width:100%;

}
.ui-dialog-title-dialog {
    text-align: center !important;
}
.ui-dialog-titlebar{
    text-align: center !important;
}
.link-orange{
    text-decoration: none;
    color: #F58400;
}
.link-white{
    color: white;
    text-decoration: underline;
}

.theme{
    top:0;
    left:0;

}

#login_content{
    margin-top: 5%;
    text-align: center;
}


.calendar{
    height:21px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.odd {background:orange}
.even {}

.tipo{
    height: 21px;
    margin-left: 2px;
    width: 142px;
    *width: 183px
}

.themeMenu{
    overflow: auto;
    width:125px;
}
.yearsMenu{
    overflow: auto;
    width:103px;
}

.reportsMenu{
    overflow: auto;
    width:130px;
}

.bt-income{
    background-image: url('../images/coins_add.png') !important;
}
.bt-outcome{
    background-image: url('../images/coins_delete.png') !important;
}
.bt-report{
    width: 99px!important;
    background-image: url('../images/report3.png') !important;
}
